/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFF;
  font: 18px Helvetica, Arial, sans-serif; /*13.34*/
  color: #333;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  color: #111; }

  h1 { margin-bottom: 1em; }
  p { margin: 1em 0; }

  a         { color: #00a; }
  a:hover   { color: #000; }
  a:visited { color: #00a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family: Monaco, "Courier New", monospace;
  font-size: 60%;
}

.business-card{
  position: fixed;
  width:200px;
  top: 30px;
  
  margin-left: -250px;

  font-size: 14px;
  text-align: right;
  float: left;

  line-height: 1.5em;
}

.business-card img{
  width:85px;
  margin-bottom: 3px;
}

.business-card .name {
  font-weight: bold;
  font-size: 125%;
  color: #000;
  padding-bottom: 5px;
}

.business-card i{
  font-style: normal;
  font-weight: 500;
  display: block;
  font-size: 100%;
  color: #666;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site {
  font-size: 115%;
  padding: 0 1em;
  max-width: 700px;
  min-width: 480px;
  margin: 1em auto 2em;
  line-height: 1.5em;
}

.site .header {
  margin-bottom: 2em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  color: #000;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-right: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post blockquote {
  font-weight: 400;
  font-style: italic;
  
  border-left: 6px solid #0DADD3;
  
  margin-top: -1px;
  margin-left: -26px;
  margin-bottom: 15px;
  
  padding-bottom: 3px;
  padding-left: 20px;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}

.gist{
  font-size: 12px;
  line-height: 14px;
  font-family: 'Courier New';
}

/*****************************************************************************/
/*
/* Resume
/*
/*****************************************************************************/

.resume .skills {
  margin-bottom: 10px; }

  .resume .skills-column {
    margin: 0 30px 20px 0;
    float: left;
    width: 50%; }

    .resume ul{
      list-style: none;
    }
    .resume li {
      margin-bottom: 10px; }

      .resume-position {
        margin: 20px 0 20px 0; }

        .resume-position a, .resume-position a:hover, .resume-position a:visited {
          color: #666; }

div.highlight{
  font-size: 60%;
  font-family: Monaco, "Courier New", monospace;
  line-height: 1.2em;
}
