@import "normalize";
@import "bourbon/_bourbon";
@import "base/_base";
@import "neat/_neat";

@import url(https://fonts.googleapis.com/css?family=Raleway:300,700);

blockquote {
  color: $medium-gray;
  margin: 45px 0px 45px 15px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
  font: {
    style: italic;
    size: 1.2em;
    family: $heading-font-family;
  };
}

body {
  padding: 0 10px 10px 10px;
  @include outer-container(700px);

  article {
    @include row;
    @include span-columns(12);
    margin-bottom: 60px;

    header {
      height: 430px;
      background-color: purple;
      margin-bottom: 40px;
      position: relative;

      h1 {
        color:white;
        position: absolute;
        bottom: 10px;
        left: 10px;
        margin-bottom: 10px;
        font: {
          size: 72px;
          weight: 300;
        };
      }
    }
    img {
      width: 100%;
      padding: {
        top: 20px;
        bottom: 20px
      }
    }
  }
}

#blog-header {
  text-align: center;
  padding: 40px 0 20px 0;

  h1 {
    margin: 0;
    font: {
      size: 75px;
      weight: normal;
    }
  }
  em {
    font-size: medium;
    color: $medium-gray;
  }
}

#author {
  padding-bottom: 140px;
  img {
    width: 125px;
    float:left;
    margin-right: 30px;
  }
  #author-name {
    color: $medium-gray;
  }
  i {
    font-size: medium;
  }
}

ol.cards {
  @include row;
  @include span-columns(12);
  margin-right: 0px;
  padding-bottom: 60px;

  li {
    width: 100%;
    float:none;
    padding: 30px 0;

    @media screen and (min-width: $large-screen) {
      width: 325px;
      float:left;
      margin: 0 15px 30px 0;
    }

    div.card {
      position: relative;
      box-shadow: 1px 1px 5px $medium-gray;
      div.card-img {

      }
      div.card-details {
        border-top: 1px solid #ccc;
        padding: 15px;
        h2 {
          font-weight:700;
        }
        p {
          font: {
            size: 15px;
          }
          color: $medium-gray;
        }
        em {
          font-size: .8em;
          text-transform: uppercase;
        }
      }
    }
  }
}
