@import "normalize";
@import "bourbon/_bourbon";
@import "base/_base";
@import "neat/_neat";

@import url(https://fonts.googleapis.com/css?family=Raleway:300,700);

blockquote {
  color: #666;
  margin: 10px 30px;
  padding-left: 15px;
  border-left: 3px solid #ccc;
  font: {
    style: italic;
  };
}

body {
  padding: 0 10px 10px 10px;
  @include outer-container(700px);

  article {
    @include row;
    @include span-columns(12);
    margin-bottom: 60px;

    header {
      height: 430px;
      background-color: purple;
      margin-bottom: 40px;
      position: relative;

      h1 {
        color:white;
        position: absolute;
        bottom: 10px;
        left: 10px;
        margin-bottom: 10px;
        font: {
          size: 72px;
          weight: 300;
        };
      }
    }
    img {
      width: 100%;

    }
  }
}

#author {
  padding-bottom: 140px;
  img {
    width: 125px;
    float:left;
    margin-right: 30px;
  }
  #author-name {
    color: #666;
  }
  i {
    font-size: medium;
  }

}
