<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link href="favicon.ico" rel="icon" type="image/x-icon">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width">

  <!-- syntax highlighting CSS -->
  <link rel="stylesheet" href="/css/syntax.css">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="/css/main.css">

</head>
<body>

  <div class="container">
    <div class="site">
      <div class="header">
        <h1 class="title"><a href="/">{{ site.name }}</a></h1>
        <a class="extra" href="/">writing</a>
        <a class="extra" href="/resume.html">resume</a>
        <a class="extra" href="/about.html">about</a>
      </div>

      {{ content }}

      <div class="footer">
        <div class="contact">
          <p>
            Adam J Wolf<br />
            Technologist<br />
            Adam@adamjwolf.com
          </p>
          <ul>
            <li>Email: adam (at) adamjwolf .com
              <li>GitHub: <a href="https://github.com/awolf">awolf</a></li>
              <li>Twitter: <a href="https://twitter.com/adamjwolf">@adamjwolf.com</a></li>
              <li>Facebook: adam.j.wolf</li>
            </ul>
          </div>
        </div>
      </div>
    </div> <!-- /container -->
  </body>
  </html>